{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}

{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-question-sign glyphicon"></span> About <small>Who am I... really?</small></h1>
    <div class="clearfix">
        {% include 'FreytechCoreBundle:Default/Content:aboutContent.html.twig' %}
    </div>
{% endblock %}