{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}

{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-envelope glyphicon"></span> Contact <small>Get ahold of me</small></h1>
    {% for flashMessage in app.session.flashbag.get('contact-success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('contact-failure') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% include 'FreytechCoreBundle:Default/Form:contactForm.html.twig' with {'form': form}  %}
{% endblock %}