{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}

{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-briefcase glyphicon"></span> Resume <small>What I've done</small></h1>
    <div class="clearfix">
        {% include 'FreytechCoreBundle:Default/Content:resumeContent.html.twig' %}
    </div>
{% endblock %}