{% block subject %}Contact Form Submission from {{ contactName }}{% endblock %}

{% block body_text %}
{% autoescape false %}
    Hello Brian,

    You have received a new Contact Form e-mail with the following information:

    - From: {{ contactName }} <{{ contactEmail }}>
    - Date: {{ sentDate|date('Y-m-d H:i:s') }}
    - Subject: {{ contactSubject }}
    - Message:
    {{ contactMessage }}
{% endautoescape %}
{% endblock %}

{% block body_html %}{% endblock %}