{% block subject %}Verify Your E-mail!{% endblock %}

{% block body_text %}
{% autoescape false %}
    Hello {{ userName }},

    Thank you for registering for FreyTech. Please click (or copy) the link below to verify your account:

    http://freytag.technology/verify-email/{{ userHash }}
{% endautoescape %}
{% endblock %}

{% block body_html %}{% endblock %}