{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}
{% block body_class %}error-404{% endblock %}
{% block page_title %}Page not found{% endblock %}
{% block content %}
    <div class="error-content">
        <h1 class="padding-bottom-med"><span class="text-danger glyphicon-warning-sign glyphicon"></span> Fer oh Fer! <small>perge nert fernd</small></h1>
        <h2>Ermahgerd! We cerdn't fernd that perge!</h2>
        <p>For those of you not fluent in "derk speak", this is a 404 - Page Not Found error.</p>
        <p>Sorry about that. This means one of a few things:</p>
        <ol>
            <li>The page moved</li>
            <li>The page was deleted</li>
            <li>The page never existed</li>
        </ol>

        <p>For your convenience, I've compiled a few things you may want to try:</p>
        <a href="{{ url('freytech_core.homepage') }}" class="btn btn-default">Home</a>
        <a href="{{ url('freytech_core.about') }}" class="btn btn-default">About Me</a>
        <a href="{{ url('freytech_core.resume') }}" class="btn btn-default">My Resume</a>
        <a href="{{ url('freytech_common.registration') }}" class="btn btn-default">Account Registration</a>
    </div>
    <div class="funny-picture">
        <img src="{{ asset('bundles/freytechcore/images/ermahgerd.png') }}" />
    </div>
{% endblock %}