{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}

{% block page_title %}Error{% endblock %}
{% block content %}
    <div class="animation-container-copy text-align-center">
        <h1 class="padding-bottom-med"><span class="text-danger glyphicon-exclamation-sign glyphicon"></span> Careful <small>That's an error</small></h1>
        <h2>We could not provide the page you requested!</h2>
        <p>Something went terribly wrong here. I'm sorry about that. Please try again!</p>
    </div>
{% endblock %}