{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.displayName) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    <div class="row form-group {% if form.plainPassword.first.vars.errors|length > 0 %} has-error has-feedback{% endif %}">
        <div class="col-md-5">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="col-md-5 pull-right">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>
    {{ form_errors(form.plainPassword.first) }}
    <div class="row form-group {% if form.email.first.vars.errors|length > 0 %} has-error has-feedback{% endif %}">
        <div class="col-md-5">
            {{ form_label(form.email.first) }}
            {{ form_widget(form.email.first) }}
        </div>
        <div class="col-md-5 pull-right">
            {{ form_label(form.email.second) }}
            {{ form_widget(form.email.second) }}
        </div>
    </div>
    {{ form_errors(form.email.first) }}
    {{ form_row(form.save) }}
{{ form_end(form) }}
