{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@FreytechCoreBundle/Resources/public/css/main.css' filter="?yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@FreytechCoreBundle/Resources/public/css/admin.css' filter="?yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@FreytechCoreBundle/Resources/public/js/layout.js'
    filter="?yui_js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block top_navigation %}
    {% include 'FreytechCoreBundle:Layout:navigation.html.twig' %}
{% endblock %}

{% block layout %}
    <div class="wrapper-image drop-shadow"></div>
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2 sidebar-left">
                    <div class="navigation-block drop-shadow">
                        {% include 'FreytechCoreBundle:Layout:adminSidebar.html.twig' %}
                    </div>
                </div>
                <div class="center col-md-8" role="main">
                    <div class="content-block drop-shadow padding-lg">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="col-md-2 sidebar-right">
                    <div class="navigation-block drop-shadow">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
