{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@FreytechCoreBundle/Resources/public/css/admin.css' filter="?yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@FreytechCoreBundle/Resources/public/js/admin.js'
    filter="?yui_js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block layout %}
    {% block content %}{% endblock %}
{% endblock %}