<div id="footer">
    <div class="container">
        <p class="text-muted">&copy; 2013-2014 Brian Freytag <<a href="mailto:brian@freytag.technology">brian@freytag.technology</a>></p>
    </div>
</div>