{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/freytechcore/css/cover.css' filter="?yui_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@FreytechCoreBundle/Resources/public/js/layout.js'
    filter="?yui_js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block layout %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div id="leftNav" class="col-md-3 left-nav">
                    <div class="left-nav-inside">
                        {{ knp_menu_render('leftMenu', {'allow_safe_labels': true}) }}
                        <p class="font-light-gray margin-top-med margin-bottom-sm">Connect With Me On</p>
                        {{ knp_menu_render('socialMenu', {'allow_safe_labels': true}) }}
                    </div>
                </div>
                <div class="col-md-6 clear-padding center-content">
                    <div class="clearfix">
                        <nav class="navbar navbar-default navbar-static-top" role="navigation">
                                <a class="open-left navbar-brand" href="#leftNav"><span class="glyphicon glyphicon-align-left"></span></a>
                                <a class="header-title navbar-brand" href="{{ path('freytech_core.homepage') }}">{{ app_title }}</a>
                                {#<div class="navbar-collapse collapse">#}
                                    {#<div class="navbar-right">#}
                                        {#<a class="open-right navbar-brand" href="#rightNav"><span class="glyphicon glyphicon-comment"></span></a>#}
                                    {#</div>#}
                                {#</div><!--/.nav-collapse -->#}
                        </nav>
                        <div class="main-content">
                            <img src="{{ asset('bundles/freytechcore/images/face.png') }}" alt="Brian Freytag" title="Brian Freytag" />
                            <h1 class="cover-heading">Brian Freytag</h1>
                            <p>Software Engineer</p>

                        </div>
                        <div class="bottom-nav clearfix">
                            <ul class="nav nav-justified">
                                <li><a href="{{ url('freytech_core.about') }}"><span class="glyphicon glyphicon-user"></span><br />About</a></li>
                                <li><a href="{{ url('freytech_core.contact') }}"><span class="glyphicon glyphicon-envelope"></span><br/>Contact</a></li>
                                <li><a href="{{ url('freytech_core.resume') }}"><span class="glyphicon glyphicon-briefcase"></span><br/>Resume</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="rightNav" class="col-md-3 right-nav hidden">
                    <div class="right-nav-inside">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
