<nav class="navbar navbar-default navbar-fixed-top padding-left-lg padding-right-lg" role="navigation">
    <a class="open-left-sidebar navbar-brand" href="#"><span class="glyphicon glyphicon-align-left"></span></a>
    <a class="navbar-brand" href="{{ path('freytech_core.homepage') }}">{{ app_title }}</a>
</nav>