<div class="sidebar padding-lg">
    {{ knp_menu_render('leftMenu', {'allow_safe_labels': true}) }}
    <p class="font-light-gray margin-top-lg margin-bottom-sm">Connect With Me On</p>
    {{ knp_menu_render('socialMenu', {'allow_safe_labels': true}) }}
</div>