{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}

{% block page_title %}Email Verification{% endblock %}
{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-leaf glyphicon"></span> Email Verification</h1>
    <div class="clearfix">
        {% if failed %}
            {% include 'FreytechCoreBundle:Registration/Content:accountVerifyFailedContent.html.twig' %}
        {% else %}
            {% include 'FreytechCoreBundle:Registration/Content:accountVerifyContent.html.twig' %}
        {% endif %}
    </div>
{% endblock %}