{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}

{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-pencil glyphicon"></span> Register <small>Get signed up</small></h1>
    {% for flashMessage in app.session.flashbag.get('registration-success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('registration-failure') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="clearfix">
        {% include 'FreytechCoreBundle:Registration/Form:registrationForm.html.twig' %}
    </div>
{% endblock %}