{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}

{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-heart glyphicon"></span> Thank You <small>for registering</small></h1>
    <div class="clearfix">
        {% include 'FreytechCoreBundle:Registration/Content:thankYouContent.html.twig' %}
    </div>
{% endblock %}