<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <title>{% block page_title %}Welcome{% endblock %} - Freytag.Technology</title>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48924420-1', 'freytag.technology');
        ga('send', 'pageview');

    </script>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->

        {% stylesheets
        '@FreytechCoreBundle/Resources/public/css/bootstrap.min.css'
        '@FreytechCoreBundle/Resources/public/css/bootstrap-theme.min.css'
        '@FreytechCoreBundle/Resources/public/css/font-awesome.min.css'
        '@FreytechCoreBundle/Resources/public/css/_styles.css'
        filter="?yui_css"
        output='css/core.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>



<body class="{% block body_class %}{% endblock %}">
    {% block top_navigation %}{% endblock %}

    {% block layout %}{% endblock %}

    {% block javascripts %}
        {% javascripts
        '@FreytechCoreBundle/Resources/public/js/jquery-2.1.0.min.js'
        '@FreytechCoreBundle/Resources/public/js/jquery-ui.min.js'
        '@FreytechCoreBundle/Resources/public/js/bootstrap.min.js'
        filter="?yui_js"
        output='js/core.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>
