<img src="{{ asset('bundles/freytechcore/images/brian.jpg') }}" class="img-rounded img-responsive pull-right margin-left-lg" />
<p>
    My name is Brian Freytag. I'm a software engineer at <a href="http://www.quizzle.com" target="_blank"><img src="{{ asset('bundles/freytechcore/images/quizzle.png') }}" /></a> where I program in Symfony2.
    I'm married to the beautiful woman to my right in the picture over there. Her name is Melissa. She's pretty awesome.
</p>
<p>
    I attended <a href="http://www.osu.edu" target="_blank"><img src="{{ asset('bundles/freytechcore/images/osu.png') }}" /></a> where I studied <em>Agribusiness and Applied Economics</em> with a minor in <em>Crop Science</em>.
</p>
<h3>... Then why are you a programmer?</h3>
<p>
    It's simple, really. My family got its first computer when I was around 12 years old. At that time, I had never used a computer more powerful than an Apple II.
    I loved the thing and spent all sorts of time on it. I was curious how people made all of these awesome-looking websites, so I began to look into it.
    I 'Asked Jeeves' what he had to say on the matter and that brought me to HTML. I spent a bunch of time learning HTML.
    Then I realized that, um... This is neat, but I can't really DO anything. So I learned how to program. I first started by using and modifying perl scripts
</p>
<p>
    I eventually moved up to PHP. I dabbled in .NET and Python, but every time I do, I end up going back to PHP. That's handy because that's what I do for money now.
</p>
<p>
    <a href="{{ url('freytech_core.resume') }}" class="btn btn-bg btn-primary" role="button">Check out my resume!</a>
</p>
<h3>So what do you do when you're not programming?</h3>
<p>
    I really enjoy spending time with my wife. She bought me the first 6 seasons of <em>Big Bang Theory</em> since it is one of my favorite shows, so I've been catching up on those.
    Along the same lines, I really enjoy gaming. I spend any free time between spending time with my wife and programming to play any video games I can get my hand on.
</p>