<div class="page-header">
    <h2>Work Experience</h2>
</div>

<div class="row">
    <div class="col-md-8">
        <h4 class="text-primary">Quizzle, LLC</h4>
        Software Engineer
    </div>
    <div class="col-md-4">
        <p class="text-right">Dec. 2013-Present</p>
    </div>
</div>
<h4>Key Accomplishments</h4>
<ul>
    <li>Daily improvements of <a href="http://www.quizzle.com" target="_blank">Quizzle.com</a> code-base.</li>
    <li>Other stuff...</li>
</ul>
<hr class="width-50" />
<div class="row">
    <div class="col-md-8">
        <h4 class="text-primary">Lee Industrial Contracting</h4>
        Sr. Web Developer
    </div>
    <div class="col-md-4">
        <p class="text-right">Jun. 2011-Dec. 2013</p>
    </div>
</div>
<h4>Key Accomplishments</h4>
<ul>
    <li>Lead ground-up development of a company-wide job and customer tracking system called Lee Electronic Data Management System (LEDMS)
        <ul>
            <li>Utilized CentOS, Apache Project, Procedural and Object-Oriented PHP/MySQL, jQuery, phpMailer</li>
            <li>Implemented custom LDAP Authentication process</li>
            <li>Began re-development of program utilizing Zend Framework 2</li>
        </ul>
    </li>
    <li>Directing, mentoring, and managing the development of various company websites
        <ul>
            <li>Conversion from Static-HTML to Drupal websites</li>
            <li>Set up Drupal multi-site configurations</li>
        </ul>
    </li>
    <li>
        CentOS 6/Ubuntu server configuration
        <ul>
            <li>IPTables configuration for security</li>
            <li>Change default service ports for security</li>
            <li>Configuration of LAMP stack for high-traffic operations</li>
            <li>Configuration of an internal git repository system</li>
        </ul>
    </li>
    <li>
        Lead all web-based projects within the organization, including:
        <ul>
            <li>Project management,</li>
            <li>Strategy,</li>
            <li>Timing/Estimation,</li>
            <li>Project prioritization, and</li>
            <li>General decision-making</li>
        </ul>
    </li>
    <li>
        Lead, managed, and mentored two entry-level developers
        <ul>
            <li>Managed day-to-day and long-term goals for team memebers</li>
            <li>Training team members in best practices and procedural/object-oriented PHP programming</li>
        </ul>
    </li>
</ul>
<hr class="width-50" />
<div class="row">
    <div class="col-md-8">
        <h4 class="text-primary">Freelance Web Work</h4>
    </div>
    <div class="col-md-4">
        <p class="text-right">Apr. 2011-Present</p>
    </div>
</div>
<h4>Key Accomplishments</h4>
<ul>
    <li>
        Designed and developed business websites utilizing Drupal 7 and Wordpress
        <ul>
            <li><a href="http://www.stjohnstryker.org" target="_blank">St. John Stryker</a> (Drupal)</li>
            <li><a href="http://maumeevalleyvendingco.com/" target="_blank">Maumee Valley Vending Co.</a> (Wordpress)</li>
        </ul>
    </li>
    <li>Designed and developed phpBB-based support forums for business clients to submit requests</li>
</ul>
<hr class="width-50" />
<div class="row">
    <div class="col-md-8">
        <h4 class="text-primary">The Ohio State University</h4>
        Systems Developer/Engineer
    </div>
    <div class="col-md-4">
        <p class="text-right">Jan. 2009-Jun. 2011</p>
    </div>
</div>
<h4>Key Accomplishments</h4>
<ul>
    <li>
        Developed the <a href="http://jobs.joe.org" target="_blank">National Job Bank</a> website
        <ul>
            <li>Ground-up development using PHP/MySQL & jQuery</li>
        </ul>
    </li>
    <li>Planned, designed and developed the new <a href="http://ohioagmanager.osu.edu/" target="_blank">Ohio Ag Manager</a> Wordpress website</li>
    <li>Developed the <a href="http://ppdc.osu.edu" target="_blank">C. Wayne Ellet Plant Pest and Diagnostic Clinic</a> website using Plone 3</li>
    <li>Participated in collaborated effort in the redesign and coding of the <a href="http://extension.osu.edu" target="_blank">Ohio State University Extension</a> website in Plone 3</li>
    <li>Lead development for <a href="http://chadwickarboretum.osu.edu" target="_blank">Chadwick Arboretum</a> website upgrade to Plone 3 environment</li>
    <li>Lead development for a multi-site <a href="http://4hcampwhitewood.osu.edu" target="_blank">Ohio 4-H Camps</a> Plone 3 website template</li>
    <li>Development and implementation of <a href="http://www.joe.org" target="_blank"><em>Journal of Extension</em></a> website redesign
    <li>Wrote several website Requirements Documents</li>
</ul>
<div class="page-header">
    <h2>Educational Background</h2>
</div>
<h4>College</h4>
<div class="text-center">
    <h4 class="text-primary">The Ohio State University</h4>
    B.S. Agribusiness and Applied Economics<br>
    College of Food, Agriculture and Environmental Sciences<br>
    June 2009
</div>
<hr class="width-50">
<h4>Other Education</h4>
<div class="text-center">
    <h4 class="text-primary">Babbage and Simmel</h4>
    Project Management Jump Start<br>
    Introduction to Project Management<br>
    February 2009
</div>
<hr class="width-25">
<div class="text-center">
    <h4 class="text-primary">CBT Nuggets</h4>
    ITIL: Foundation Level<br>
    Introduction and training for ITIL Foundations certification<br>
    April 2013
</div>
<div class="page-header">
    <h2>Special Skills</h2>
</div>
<p class="text-primary">Advanced Computer Knowledge</p>
<p><strong>Operating Systems:</strong> Windows 95-Windows 8.1, Windows Server 2008 R2, Windows Server 2012, Mac OSX, Debian/RedHat-Based Linux</p>
<p><strong>Computer Software:</strong> Adobe Creative Suite, TextWrangler, Programmer's Notepad, VirtualBox, Filezilla, Zend Studio, PHPStorm</p>
<p><strong>Web Development:</strong> HTML/XHTML/HTML5 including advanced CSS/CSS3, PHP (OOP), Javascript, jQuery(+Mobile/UI), AJAX, MySQL Databases, Python (rudimentary), Plone 3, Zope, Wordpress, Drupal, phpBB, Wikimedia, Zend Framework, Symfony2</p>
<p><strong>Server Configuration:</strong> Windows 2008 R2/2012 - Exchange, Active Directory, Hyper-V, Group Policy, DNS; RedHat - LAMP stack setup and configuration, Zimbra, IPTables, Postfix, GIT</p>
<div class="page-header">
    <h2>Other Programming Accomplishments</h2>
</div>
<h4 class="text-primary">Social Media Widget</h4>
<p>The Social Media Widget is a Wordpress plugin that allows users to input URLs to their social media profiles and the widget will display icons to those social media websites, including Facebook, Twitter, and MySpace, on the sidebar. The plugin allows the user to select from many social media sites/services, four image hover animations, three icon packs, and three icon sizes. The plugin has logged 559k downloads as of September 17, 2011 in the Wordpress Plugin Database. It averages approximately 450 downloads per day.</p>
<p>The widget was highlighted in Ken Gagne’s “10 essential Wordpress plugins” article on the <a href="http://www.computerworld.com/s/article/9230638/10_essential_WordPress_plugins" target="_blank">Computerworld.com</a> website.</p>
<p>I sold the rights to the plugin in January 2013.</p>
<p>
    <a href="http://wordpress.org/extend/plugins/social-media-widget" target="_blank">http://wordpress.org/extend/plugins/social-media-widget</a>
</p>