{% extends 'FreytechCoreBundle:Layout:adminLayout.html.twig' %}

{% block page_title %}Account{% endblock %}

{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-pencil glyphicon"></span> Edit User</h1>
    {% for flashMessage in app.session.flashbag.get('update-user-success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('update-user-failure') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="clearfix">
        {% include 'FreytechCoreBundle:Admin/Form:updateUserForm.html.twig' %}
    </div>
{% endblock %}