body {

}

html,
body {
    background: #fff url(../bundles/freytechcore/images/fullbackground.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.font-light-gray {
    color: #ececec;
}

/** Navbar modification **/

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #ececec;
}

.navbar-default {
    background-image: none;
    background-color: #78ccfd;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #78ccfd;
}

/** Padding Classes **/
.padding-sm {
    padding: 5px;
}

.padding-med {
    padding: 10px;
}

.padding-lg {
    padding: 20px;
}

.padding-top-sm {
    padding-top: 5px;
}

.padding-top-med {
    padding-top: 10px;
}

.padding-top-lg {
    padding-top: 20px;
}

.padding-left-sm {
    padding-left: 5px;
}

.padding-left-med {
    padding-left: 10px;
}

.padding-left-lg {
    padding-left: 20px;
}

.padding-right-sm {
    padding-right: 5px;
}

.padding-right-med {
    padding-right: 10px;
}

.padding-right-lg {
    padding-right: 20px;
}

.padding-bottom-sm {
    padding-bottom: 5px;
}

.padding-bottom-med {
    padding-bottom: 10px;
}

.padding-bottom-lg {
    padding-bottom: 20px;
}

.clear-padding {
    padding: 0;
}

/** Margin Classes **/
.margin-sm {
    margin: 5px;
}

.margin-med {
    margin: 10px;
}

.margin-lg {
    margin: 20px;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-top-med {
    margin-top: 10px;
}

.margin-top-lg {
    margin-top: 20px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-left-med {
    margin-left: 10px;
}

.margin-left-lg {
    margin-left: 20px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-right-med {
    margin-right: 10px;
}

.margin-right-lg {
    margin-right: 20px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-bottom-med {
    margin-bottom: 10px;
}

.margin-bottom-lg {
    margin-bottom: 20px;
}

.clear-margin {
    margin: 0;
}

.main-menu {
    font-size: 1.3em;
}

.main-menu li.current a {
    color: #fff;
}

#footer {
    text-align: center;
    background-color: #333333;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}

.page-header {
    border-bottom: 1px solid #ccc;
}

hr {
    border-top: 1px solid #ccc;
}

.hiding {
    display: none;
}

.row {
    margin: 0;
}