/*
 * Globals
 */

body,
html {
    color: #999999;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}


/*
 * Base structure
 */

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    text-align: center;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.center-content {
    background-color: #fff;
    z-index: 1000;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.right-nav,
.left-nav {
    text-align: left;
    padding: 0;
    height: 318px;
}

.right-nav-inside,
.left-nav-inside {
    background-color: #69a8cd;
    display: none;
    padding: 15px 10px;
    height: 318px;
    width: 100%;
}

.left-nav .nav>li>a {
    padding: 5px 15px;
}

.left-nav .nav>li>a:hover,
.right-nav .nav>li>a:hover,
.left-nav .nav>li>a:focus,
.right-nav .nav>li>a:focus {
    background-color: #78ccfd;
}

.bottom-nav {
    float: none;
    margin: auto;
    padding: 0;
}

.bottom-nav .nav>li>a {
    padding: 15px 10px;
}

.bottom-nav .nav {
    background-color: #78ccfd;
}

.bottom-nav .nav>li>a:hover,
.bottom-nav .nav>li>a:focus {
    background-color: #69a8cd;
}

.cover-heading {
    color: #78ccfd;
    margin: 0;
}

.main-content p {
    font-size: 1.1em;
}

.left-nav-inside a span.glyphicon {
    margin-right: 5px;
}


/*
 * Affix and center
 */

@media (max-width: 768px) {
    .site-wrapper-inner {
    }

    .bottom-nav {
        top: 50px;
        width: auto !important;
        position: relative;
    }
}
@media (max-width: 991px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
    display: block;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .left-nav,
  .right-nav,
  a.open-left,
  a.open-right {
      display: none;
  }

  .bottom-nav {
      bottom: 0;
      width: 100%;
  }

  .center-content {
      height: 100%;
  }

    .header-title {
        width: 100%;
        display: block;
    }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
