html,
body {
    height: 100%;

}

body {
    color: #333;
}

.page-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.container {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.content-block {
    padding-top: 70px;
    margin: 0;
    background-color: #fff;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.sidebar-right,
.sidebar-left {
    height: 100%;
    text-align: left;
    padding: 50px 0 0 0;
}

.center {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.row {
    height: 100%;
}

.content-block {
    height: auto !important;
}

.sidebar-left .navigation-block {
    position: fixed;
    left: 0;
    width: 17.5%;
}

.navigation-block {
    background-color: #69a8cd;
    height:100%;
    display: none;
}

.navigation-block .nav>.current>a {
    background-color: #78ccfd;
}

.navigation-block .nav .open>a,
.navigation-block .nav .open>a:hover,
.navigation-block .nav .open>a:focus {
    background-color: #78ccfd;
}

.sidebar-left .nav>li>a:hover,
.sidebar-right .nav>li>a:hover,
.sidebar-left .nav>li>a:focus,
.sidebar-right .nav>li>a:focus {
    background-color: #78ccfd;
}

/* Links */
.sidebar-left a,
.sidebar-left a:focus,
.sidebar-left a:hover,
.sidebar-right a,
.sidebar-right a:focus,
.sidebar-right a:hover
{
    color: #fff;
}

.navigation-block a span.glyphicon {
    margin-right: 5px;
}

@media (min-width: 992px) {
    .content-block {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }

    .content-block {
        width: 100%;
    }

    .sidebar-left {
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 25%;
    }

    .sidebar-left .navigation-block {
        width: 250px;
    }
}

.error-404 .funny-picture {
    position: fixed;
    right:0;
    bottom: 0;
}
