{% if has_error %}
    <div class="alert alert-dismissable alert-danger">Sorry. The information you provided was not correct.</div>
{% endif %}
<form method="POST" action="{{ path('freytech_common.authenticate') }}">
    <div class="form-group">
        <label class="control-label" for="username">Username</label>
        <input id="username" class="form-control" type="text" name="username" value="{% if last_username %}{{ last_username }}{% endif %}" />
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input id="password" class="form-control" type="password" name="password" />
        <a href="#" class="pull-right">Forgot password?</a>
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label class="control-label" for="remember_me">Keep me logged in</label>
    </div>
    {% if verification_hash is defined %}
        <input type="hidden" name="verification_hash" value="{{ verification_hash }}" />
    {% endif %}
    <div class="form-group">
        <input type="submit" name="submit" value="Sign In" class="btn btn-primary btn-lg" />
    </div>
</form>