{% extends 'FreytechCoreBundle:Layout:layout.html.twig' %}
{% block page_title %}Sign In {% endblock %}

{% block content %}
    <h1 class="padding-bottom-med"><span class="text-primary glyphicon-log-in glyphicon"></span> Sign In <small>Get in here!</small></h1>
    <div class="clearfix">
        {% include 'FreytechCoreBundle:Authentication/Form:signInForm.html.twig' %}
        <hr />
        <h2><span class="text-primary glyphicon glyphicon-pencil"></span> Don't have an account?</h2>
        <a href="{{ url('freytech_common.registration') }}" class="btn btn-primary btn-lg width-75 margin-top-lg">Create one now!</a>
    </div>
{% endblock %}