<img src="{{ asset('bundles/freytechcore/images/yesitis2.gif') }}" class="img-rounded pull-right margin-left-med">
<h2>Son-of-a...</h2>
<p>
    You've failed account verification? I didn't think such a thing was possible!
</p>