<img src="{{ asset('bundles/freytechcore/images/yesitis2.gif') }}" class="img-rounded pull-right margin-left-med">
<h2>Wait, wait, wait...</h2>
<p>
    You mean to tell me that you've successfully registered AND you've successfully verified your e-mail? I didn't think such a thing was even possible.
</p>
<h2>Well, congratulations, {{ firstName }}!</h2>
<p>
    Since you've made it this far, you have earned the right to log in. Click the amazing huge green sexy button below to begin your journey from alien to alien investigator.
</p>
<a href="{{ path('freytech_common.sign_in') }}" class="btn btn-lg btn-success">Sign in!</a>