<img src="{{ asset('/bundles/freytechcore/images/clap.gif') }}" class="pull-right img-circle" />
<h2>You're great!</h2>
<p>
 You're one of many people who have decided to join the FreyTech Community! By joining this <span class="text-success"><strong>ELITE</strong></span> group of techies.
</p>
<h3>Next Steps:</h3>
<p>
    You will be receiving an e-mail in the next 3-5 minutes. In said e-mail, there will be a link. You can click on it or copy/paste it into your browser. This link will activate your account.
</p>
<p>
    Once you're activated, you're off and running!
</p>
<p>
    Until then,<br>
</p>
<p>
    <a href="{{ url('freytech_core.about') }}" class="btn btn-lg btn-primary">Learn More About Me</a>
</p>